<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="Layout">
<head>
<meta charset="utf-8">
<title>Liste des produits</title>

</head>
<body>
	<div layout:fragment="content1">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des produits</div>
			</div>
			<div class="panel-body">
				<form th:action="@{/index}" method="get">
					<label>Mot clé:</label> <input type="text" name="motCle" />
					<button type="submit" class="btn btn-primary">Chercher</button>
				</form>
			</div>
			<div class="container">
				<table class="table table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Designation</th>
							<th>Prix</th>
							<th>Quantite</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p:${listProduits}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.designation}"></td>
							<td th:text="${p.prix}"></td>
							<td th:text="${p.quantite}"></td>
							<td><a class="btn btn-danger"
								onclick="return confirm('voulez vous supprimer!')"
								th:href="@{/delete(id=${p.id},page=${currentPage}, motCle=${motCle})}">Supprimer</a>
							</td>
							<td><a class="btn btn-danger"
								th:href="@{/edit(id=${p.id})}">Modifier</a>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="nav nav-pills">
					<li th:class="${currentPage==status.index}?'active':''"
						th:each="page,status:${pages}"><a
						th:href="@{/index(page=${status.index}, motCle=${motCle})}"
						th:text="${status.index}"></a></li>
				</ul>

			</div>
		</div>


	</div>

</body>
</html>