<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Liste des produits</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<div class="container spacer">
		<a class="primary" th:href="@{Form}" >Ajouter un produit</a>
	</div>
	<div class="container">
		<form th:action="@{Index}" method="get">
			<div class="form-group">
				<label>Mot clé:</label>
					<input type="text" name="motCle" th:value="${motCle}"/>
					<button type="submit">Chercher</button>
			</div>
		</form>
	</div>
	<div class="container">
		<h1>Liste des produits</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${pageProduits.content}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.nom}"></td>
					<td th:text="${p.prix}"></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
					<a th:text="${p}+1" th:href="@{Index(page=${p}, motCle=${motCle})}"></a>
				</li>
			</ul>
	</div>
</body>
</html>